.Container {
  text-align: center;
}

/* Github Link */
.github-btn {
  background: url("./images/flamingo.svg") no-repeat;
  width: 38px;
  height: 38px;
  top: 1.5em;
  right: 1.5em;
  position: absolute;
  opacity: 0.8;
  display: block;
  text-decoration: none;
  transition: opacity 0.15s ease-in-out;
}
.github-btn:hover {
  opacity: 1;
}
