.Container {
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.item {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 2vmax;
  font-display: block;
  background-color: var(--yellow); /* best colour */
}
.item5 {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: pink; /* best colour */
}

.item6 {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: orange;
}

/* Github Link */
.github-btn {
  background: url("./images/flamingo.svg") no-repeat;
  width: 38px;
  height: 38px;
  top: 1.5em;
  right: 1.5em;
  position: absolute;
  opacity: 0.8;
  display: block;
  text-decoration: none;
  transition: opacity 0.15s ease-in-out;
}
.github-btn:hover {
  opacity: 1;
}
